
# latex build files
*.aux
*.log
*.toc
*.blg
*.ilg
*.bbl
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.pyg
*.pdf

# vim swap files
*.swp
.exrc

# SConstruct build artefacts
.sconsign.dblite

# python build files
*.pyc

# symlink to scripts dir
script/script
